body {
    background-color: #3a405a !important;
}

.profilou {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wesh {
    background-color: #3a405a;
}

.img-profil {
    border-radius: 100%;
    background-color: #3a405a;
}

.card-title {
    color: #15b097;
}

.card-body {
    color: #15b097;
}

.card-subtitle {
    color: #15b097;
}