.registration-form {
    width: 80%;
    padding: 1em;
    color: $primary;
}

.form-title {
    color: $primary;
    margin: 1em;
}

.registration-form-block {
    display: flex;
    justify-content: center;
}

.form-item {
    margin: 1em;
}